/* backoffice.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}

.content{
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
/* Content Styles */
.content {
    margin-left: 250px;
    width: calc(100% - 255px);
    position: fixed;
}

form {
    margin: 20px 0;
    display: flex;
    align-items: center;
    
}

form input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}

form button {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.button_create {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 60px;
    border: none; /* Menghilangkan border */
    text-decoration: none;
}

.Button2 {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Centers the buttons vertically */
}

.Button2 button {
    padding: 10px;
    background-color: #28a745; /* Sesuaikan warna latar belakang sesuai keinginan */
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: auto; /* Sesuaikan lebar sesuai kebutuhan */
    border: none; /* Menghilangkan border */
    margin: 0 5px; /* Optional: Adds space between buttons */
}
form button:hover {
    background-color: #0056b3;
}
button:hover {
    background-color: #218838;
}

/* Table Styles */
.crud-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.crud-table th, .crud-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.crud-table th {
    background-color: #f2f2f2;
}

.crud-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.crud-table tr:hover {
    background-color: #f1f1f1;
}

.crud-table th {
    background-color: #9a9a9a;
    color: white;
}

.crud-table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.crud-table th.password-column, .crud-table td.password-column {
    width: 100px;
    /* Adjust the width as needed */
    word-break: break-all; /* Optional: Break long words */
}