body {
    font-family: Arial, sans-serif;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: column; /* Setiap form-group menjadi kolom */
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px; /* Beri sedikit jarak antara label dan input */
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select {
    padding: 5px;
    margin: 0 auto; /* Memusatkan input di tengah */
    width: 80%; /* Memberikan lebar pada input */
}


.label-above {
    display: flex;
    flex-direction: column-reverse; /* Label di atas input */
}

label {
    flex: 1;
    margin-right: 10px;
    text-align: left;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* CSS for styling the Cancel button */
.cancel-button {
    background-color: #f44336; /* Red background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for better appearance */
    cursor: pointer; /* Cursor style */
}
.cancel-button:hover{
background-color: #f75c51;
}
/* CSS for styling the Submit button */
#submitButton {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 20px; /* Padding for better appearance */
    cursor: pointer; /* Cursor style */
}
#submitButton:hover{
    background-color: #5fba62;
}
.container-form-group {
    display: flex;
    flex-direction: column;
}
