body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.search-navbar {
    background-color: #f2f2f2;
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.search-form .form-group {
    display: flex;
    flex-direction: column;
}

.search-form .form-group label {
    width: 300px;
}

.search-form .form-group input,
.search-form .form-group select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-search {
    padding: 0 20px;
    background-color: #4669db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px; /* Make sure button height matches input height */
}

.btn-search:hover {
    background-color: rgb(0, 82, 204);
}

.room-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.room-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: calc(33.333% - 2rem); /* Adjust width to fit 3 cards in a row with gap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.room-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Reduce top margin to make it appear higher */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-body {
    display: flex;
    gap: 2rem; /* Space between the two columns */
}

.modal-left,
.modal-right {
    flex: 1; /* Equal width for both columns */
}

.kamar {
    max-width: 100%;
    height: auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.deskripsi-kamar {
    padding-right: 2rem; /* Add some padding to the right for spacing */
}

.harga {
    padding-left: 2rem; /* Add some padding to the left for spacing */
}

.reservasi-button {
    padding: 0.5rem 1rem;
    background-color: #4669db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.reservasi-button:hover {
    background-color: rgb(0, 82, 204);
}

